Repository lad-tech/mobydick: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, jest, typescript

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn eslint --fix {staged_files}
    jest:
      glob: "*.{js,jsx,ts,tsx}"
      run: yarn jest --bail --findRelatedTests --passWithNoTests {staged_files}
    typescript:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit

chore: lint fixes
  jest.config.js
  package.json
  src/app/+html.tsx
  src/shared/ui/ThemedText.tsx
  src/shared/ui/ThemedView.tsx
  yarn.lock
Due: eslint, jest, typescript

fix: font for all platforms
  app.config.js
  docs/docs/guides/core/Introduction.mdx
  docs/docs/guides/core/Theme.mdx
  jest.config.js
  package.json
  packages/chart/package.json
  packages/chart/src/BarChart/index.tsx
  packages/chart/src/LineChart/index.tsx
  packages/core/package.json
  packages/core/src/cta/components/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/core/src/other/components/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  packages/core/src/other/components/Badge/Counter/__tests__/__snapshots__/Counter.test.tsx.snap
  packages/core/src/styles/context/ThemeProvider.tsx
  packages/core/src/styles/context/context.ts
  packages/core/src/styles/types.ts
  packages/core/src/typography/assets/fonts/Inter-Bold.ttf
  packages/core/src/typography/assets/fonts/Inter-BoldItalic.ttf
  packages/core/src/typography/assets/fonts/Inter-Italic.ttf
  packages/core/src/typography/assets/fonts/Inter-Medium.ttf
  packages/core/src/typography/assets/fonts/Inter-Regular.ttf
  packages/core/src/typography/assets/fonts/Inter-SemiBold.ttf
  packages/core/src/typography/assets/fonts/Inter.ttf
  packages/core/src/typography/components/Title/__tests__/__snapshots__/Title.test.tsx.snap
  packages/core/src/typography/components/Typography/__tests__/__snapshots__/Typography.test.tsx.snap
  packages/core/src/typography/hooks/useFont.ts
  packages/core/src/typography/hooks/useFontBody.ts
  packages/core/src/typography/hooks/useFontHeader.ts
  packages/core/src/typography/utils/fontResolver.ts
  packages/core/src/typography/utils/index.ts
  src/app/_layout.tsx
  src/pages/MainStack/Home/Core/Typography/Typography/ui/index.tsx
  src/widgets/Chart/ui/RenderHeader.tsx
  yarn.lock
Due: eslint, jest, typescript

chore: update default theme
  packages/core/src/styles/constants/theme.ts
Due: eslint, jest, typescript

fix: rename @expo-google-fonts
  app.config.js
  docs/docs/guides/core/Introduction.mdx
Due: eslint, jest

fix: update rn
  package.json
  packages/KeyboardAware/package.json
  packages/calendar/package.json
  packages/chart/package.json
  packages/core/src/popups/components/TooltipBase/TooltipBase.tsx
  packages/dragAndDrop/package.json
  packages/markdown/package.json
  packages/utils/package.json
  yarn.lock
Due: eslint, jest, typescript

chore: update Touchable types
  package.json
  packages/core/src/basic/components/TouchableHighlight/types.ts
  packages/core/src/basic/components/TouchableOpacity/types.ts
  packages/core/src/popups/components/TooltipBase/__tests__/TooltipBase.test.tsx
  yarn.lock
Due: eslint, jest, typescript

chore: update tests
  packages/calendar/src/Calendar/__tests__/__snapshots__/Calendar.test.tsx.snap
  packages/calendar/src/Calendar/__tests__/__snapshots__/ModalCalendar.test.tsx.snap
  packages/core/src/chat/components/__tests__/__snapshots__/ChatPressableIcon.test.tsx.snap
  packages/core/src/other/components/Carousel/__tests__/__snapshots__/AutoCarousel.test.tsx.snap
  packages/core/src/other/components/Carousel/__tests__/__snapshots__/AutoLoopCarousel.test.tsx.snap
  packages/core/src/other/components/Carousel/__tests__/__snapshots__/Carousel.test.tsx.snap
  packages/core/src/other/components/Carousel/__tests__/__snapshots__/LoopCarousel.test.tsx.snap
Due: none

fix(color): update Neutral10
  packages/calendar/src/Calendar/__tests__/__snapshots__/Calendar.test.tsx.snap
  packages/calendar/src/Calendar/__tests__/__snapshots__/ModalCalendar.test.tsx.snap
  packages/core/src/chat/components/__tests__/__snapshots__/ChatInput.test.tsx.snap
  packages/core/src/chat/components/__tests__/__snapshots__/ChatInputField.test.tsx.snap
  packages/core/src/cta/components/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/core/src/inputs/components/DropDown/__tests__/__snapshots__/DropDown.test.tsx.snap
  packages/core/src/inputs/components/DropDown/components/__tests__/__snapshots__/Selector.test.tsx.snap
  packages/core/src/inputs/components/InputField/__tests__/__snapshots__/InputField.test.tsx.snap
  packages/core/src/inputs/components/Search/__tests__/__snapshots__/Search.test.tsx.snap
  packages/core/src/inputs/components/Verification/__tests__/__snapshots__/CodeField.test.tsx.snap
  packages/core/src/other/components/Avatar/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
  packages/core/src/other/components/Status/__tests__/__snapshots__/Status.test.tsx.snap
  packages/core/src/popups/components/ModalBase/__tests__/__snapshots__/HorizontalButtonsView.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalLoading.test.tsx.snap
  packages/core/src/progress/components/Indicator/__tests__/__snapshots__/Indicator.test.tsx.snap
  packages/core/src/progress/components/PanelSpinner/__tests__/__snapshots__/PanelSpinner.test.tsx.snap
  packages/core/src/styles/constants/colors/color.ts
Due: eslint, jest, typescript

fix(Button): update Secondary
  packages/core/src/cta/components/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/core/src/cta/utils/getCounterType.ts
  packages/core/src/cta/utils/getSpinnerColor.ts
  packages/core/src/other/components/Badge/Counter/__tests__/Counter.test.tsx
  packages/core/src/other/components/Badge/Counter/__tests__/__snapshots__/Counter.test.tsx.snap
  packages/core/src/other/components/Badge/Counter/stylesCreate.ts
  packages/core/src/other/components/Badge/Counter/types.ts
  src/widgets/Core/Other/ui/BadgeWidget.tsx
Due: eslint, jest, typescript

fix(Button): update Typography
  packages/calendar/src/Calendar/__tests__/__snapshots__/ModalCalendar.test.tsx.snap
  packages/core/src/cta/components/Button/Button.tsx
  packages/core/src/cta/components/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/core/src/cta/components/Button/types.ts
  packages/core/src/cta/utils/getDefaultFont.ts
  packages/core/src/popups/components/ModalBase/__tests__/__snapshots__/HorizontalButtonsView.test.tsx.snap
  packages/core/src/popups/components/ModalBase/__tests__/__snapshots__/VerticalButtonsView.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalAsk.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalError.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalLoading.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalSuccess.test.tsx.snap
  packages/core/src/popups/components/TooltipBase/__tests__/__snapshots__/LeftButton.test.tsx.snap
Due: eslint, jest, typescript

fix(Inputs): update Typography
  docs/docs/components/core/inputs/DropDown.mdx
  docs/docs/components/core/inputs/InputField.mdx
  docs/docs/components/core/inputs/base/InputSubtitle.mdx
  docs/docs/components/core/inputs/base/InputTitle.mdx
  docs/docs/components/core/others/CrossedText.mdx
  packages/core/src/chat/components/__tests__/__snapshots__/ChatInput.test.tsx.snap
  packages/core/src/chat/components/__tests__/__snapshots__/ChatInputField.test.tsx.snap
  packages/core/src/inputs/components/Base/InputSubtitle.tsx
  packages/core/src/inputs/components/Base/InputTitle.tsx
  packages/core/src/inputs/components/DropDown/__tests__/__snapshots__/DropDown.test.tsx.snap
  packages/core/src/inputs/components/DropDown/types.ts
  packages/core/src/inputs/components/InputField/InputField.tsx
  packages/core/src/inputs/components/InputField/__tests__/__snapshots__/InputField.test.tsx.snap
  packages/core/src/inputs/components/Search/Search.tsx
  packages/core/src/inputs/components/Search/__tests__/__snapshots__/Search.test.tsx.snap
  packages/core/src/inputs/components/Verification/CodeField.tsx
  packages/core/src/inputs/components/Verification/__tests__/__snapshots__/CodeField.test.tsx.snap
  packages/core/src/inputs/components/Verification/stylesCreate.tsx
  packages/core/src/inputs/components/Verification/types.ts
  packages/core/src/other/components/CrossedText/types.ts
  packages/core/src/typography/components/TypographyLegacy/TypographyLegacy.tsx
  packages/core/src/typography/types.ts
Due: eslint, jest, typescript

chore(Inputs): returned
  docs/docs/components/core/inputs/DropDown.mdx
  docs/docs/components/core/inputs/InputField.mdx
  docs/docs/components/core/inputs/base/InputSubtitle.mdx
  docs/docs/components/core/inputs/base/InputTitle.mdx
  docs/docs/components/core/others/CrossedText.mdx
Due: none

chore(Inputs): returned
  docs/docs/components/core/inputs/InputField.mdx
Due: none

fix(Chat): update Typography
  packages/core/src/chat/components/ChatMessage.tsx
  packages/core/src/chat/components/ChatPressableIcon.tsx
  packages/core/src/chat/components/__tests__/__snapshots__/ChatMessage.test.tsx.snap
  packages/core/src/chat/components/__tests__/__snapshots__/ChatMessageAvatar.test.tsx.snap
  packages/core/src/controls/ControlsLists/__tests__/ControlsList.tsx
  packages/core/src/controls/ControlsLists/__tests__/__snapshots__/ControlsList.tsx.snap
  packages/core/src/controls/ControlsLists/__tests__/useCloneControls.tsx
  packages/core/src/controls/Radio/stylesCreate.ts
Due: eslint, jest, typescript

fix(Calendar): update Typography
  packages/calendar/src/Calendar/Calendar.tsx
  packages/calendar/src/Calendar/__tests__/__snapshots__/Calendar.test.tsx.snap
  packages/calendar/src/Calendar/__tests__/__snapshots__/ModalCalendar.test.tsx.snap
  packages/calendar/src/Calendar/components/CalendarHeader.tsx
  packages/calendar/src/Calendar/components/Months.tsx
  packages/calendar/src/Calendar/components/Years.tsx
  packages/calendar/src/Calendar/components/__tests__/__snapshots__/CalendarHeader.test.tsx.snap
  packages/calendar/src/Calendar/components/__tests__/__snapshots__/Months.test.tsx.snap
  packages/calendar/src/Calendar/components/__tests__/__snapshots__/Years.test.tsx.snap
Due: eslint, jest, typescript

fix(Navbars): update Typography
  packages/core/src/navbars/components/PanelHeader/__tests__/__snapshots__/PanelHeader.test.tsx.snap
  packages/core/src/navbars/components/PanelHeader/components/ContentHeader.tsx
  packages/core/src/navbars/components/Tabs/Tab.tsx
  packages/core/src/navbars/components/Tabs/__tests__/Tab.test.tsx
  packages/core/src/navbars/components/Tabs/__tests__/Tabs.test.tsx
  packages/core/src/navbars/components/Tabs/__tests__/__snapshots__/Tab.test.tsx.snap
  packages/core/src/navbars/components/Tabs/__tests__/__snapshots__/Tabs.test.tsx.snap
  packages/core/src/navbars/types.ts
Due: eslint, jest, typescript

fix(Other): update Typography
  packages/core/src/chat/components/__tests__/__snapshots__/ChatMessageAvatar.test.tsx.snap
  packages/core/src/other/components/Avatar/AvatarGroup.tsx
  packages/core/src/other/components/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  packages/core/src/other/components/Avatar/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
  packages/core/src/other/components/Avatar/components/AvatarBadge.tsx
  packages/core/src/other/components/Avatar/components/TextAvatar.tsx
  packages/core/src/other/components/Avatar/components/__tests__/__snapshots__/TextAvatar.test.tsx.snap
  packages/core/src/other/components/Badge/BadgeIndicator/BadgeIndicator.tsx
  packages/core/src/other/components/Badge/BadgeIndicator/__tests__/__snapshots__/BadgeIndicator.tsx.snap
  packages/core/src/other/components/Badge/Counter/__tests__/__snapshots__/Counter.test.tsx.snap
  packages/core/src/other/components/Badge/Counter/getFont.tsx
  packages/core/src/other/components/Collapsible/Collapsible.tsx
  packages/core/src/other/components/Collapsible/__tests__/__snapshots__/Collapsible.test.tsx.snap
  packages/core/src/other/components/Collapsible/types.ts
  packages/core/src/other/components/CrossedText/CrossedText.tsx
  packages/core/src/other/components/CrossedText/__tests__/__snapshots__/CrossesText.test.tsx.snap
  packages/core/src/other/components/CrossedText/types.ts
  packages/core/src/other/components/Status/__tests__/__snapshots__/Status.test.tsx.snap
  packages/core/src/other/components/Status/components/StatusDot.tsx
  packages/core/src/other/components/Status/components/StatusTag.tsx
Due: eslint, jest, typescript

fix(Popups): update Typography
  packages/calendar/src/Calendar/__tests__/__snapshots__/ModalCalendar.test.tsx.snap
  packages/calendar/src/Calendar/types.ts
  packages/core/src/popups/components/ActionSheetBase/__tests__/__snapshots__/ActionSheetBase.test.tsx.snap
  packages/core/src/popups/components/ActionSheetBase/__tests__/__snapshots__/Item.test.tsx.snap
  packages/core/src/popups/components/ActionSheetBase/content/Contents.tsx
  packages/core/src/popups/components/ActionSheetBase/types.ts
  packages/core/src/popups/components/ModalBase/AlertContent.tsx
  packages/core/src/popups/components/ModalBase/TextContent.tsx
  packages/core/src/popups/components/ModalBase/__tests__/__snapshots__/TextContent.text.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalAsk.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalError.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalLoading.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalSuccess.test.tsx.snap
  packages/core/src/popups/components/PopupBase/types.ts
  packages/core/src/popups/components/SnackbarBase/SnackbarTitle.tsx
  packages/core/src/popups/components/SnackbarBase/__tests__/__snapshots__/Title.test.tsx.snap
  packages/core/src/popups/components/TooltipBase/DescriptionText.tsx
  packages/core/src/popups/components/TooltipBase/TooltipTitle.tsx
  packages/core/src/popups/components/TooltipBase/__tests__/__snapshots__/DescriptionText.test.tsx.snap
  packages/core/src/popups/components/TooltipBase/__tests__/__snapshots__/Title.test.tsx.snap
Due: eslint, jest, typescript

fix: update Typography
  packages/core/src/progress/components/PanelSpinner/PanelSpinner.tsx
  packages/core/src/progress/components/Spinner/Loader.tsx
  packages/core/src/progress/components/Spinner/Spinner.tsx
  src/shared/ui/BlockView.tsx
  src/shared/ui/Header.tsx
  src/widgets/Chart/ui/RenderHeader.tsx
  src/widgets/Chart/ui/RenderSectionItem.tsx
  src/widgets/Core/Controls/ui/ControlListWidget.tsx
  src/widgets/Core/Controls/ui/SliderWidget.tsx
  src/widgets/Core/Controls/ui/SwipeWidget.tsx
  src/widgets/Core/Other/ui/AvatarWidget.tsx
  src/widgets/Core/Other/ui/BadgeWidget.tsx
  src/widgets/Core/Other/ui/CarouselWidget.tsx
  src/widgets/Core/Other/ui/CollapsibleWidget.tsx
  src/widgets/Core/Other/ui/DotsWidget.tsx
  src/widgets/Core/Other/ui/StatusWidget.tsx
  src/widgets/Core/Popup/ui/ActionSheetWidget.tsx
  src/widgets/Core/Popup/ui/ModalsWidget.tsx
  src/widgets/Core/Popup/ui/PopupBaseWidget.tsx
  src/widgets/Core/Popup/ui/SnackbarWidget.tsx
  src/widgets/Core/Popup/ui/TooltipWidget.tsx
  src/widgets/Core/Progress/ui/IndicatorWidget.tsx
  src/widgets/Core/Progress/ui/PanelSpinnerWidget.tsx
  src/widgets/Core/Styles/ui/ShadowWidget.tsx
  src/widgets/Core/Styles/ui/SimpleIconWidget.tsx
  src/widgets/KeyboardAware/Bottom.tsx
Due: eslint, jest, typescript

fix(Popups): added styles
  packages/core/src/popups/components/Modals/ModalAsk.tsx
  packages/core/src/popups/components/Modals/ModalError.tsx
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalAsk.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalError.test.tsx.snap
  packages/core/src/popups/components/Modals/types.ts
  src/widgets/Core/Popup/ui/TooltipWidget.tsx
Due: eslint, jest, typescript

fix: replaced deprecated colors
  docs/docs/components/core/navbars/Tabs.mdx
  docs/docs/components/core/popups/modalBase/AlertContent.mdx
  packages/calendar/src/Calendar/Calendar.tsx
  packages/calendar/src/Calendar/components/Months.tsx
  packages/calendar/src/Calendar/components/Years.tsx
  packages/core/src/controls/CheckBox/CheckSquare.tsx
  packages/core/src/controls/Swipe/Swipe.tsx
  packages/core/src/inputs/components/DropDown/__tests__/__snapshots__/DropDown.test.tsx.snap
  packages/core/src/inputs/components/DropDown/components/Chip.tsx
  packages/core/src/inputs/components/DropDown/components/Selector.tsx
  packages/core/src/inputs/components/DropDown/components/__tests__/__snapshots__/Chip.test.tsx.snap
  packages/core/src/inputs/components/DropDown/components/__tests__/__snapshots__/ChipList.test.tsx.snap
  packages/core/src/inputs/components/DropDown/components/__tests__/__snapshots__/Selector.test.tsx.snap
  packages/core/src/inputs/components/InputField/__tests__/__snapshots__/InputField.test.tsx.snap
  packages/core/src/inputs/style/validStyle.tsx
  packages/core/src/other/README.md
  packages/core/src/other/components/Status/__tests__/__snapshots__/Status.test.tsx.snap
  packages/core/src/other/components/Status/components/StatusTag.tsx
  packages/core/src/popups/components/ModalBase/__tests__/__snapshots__/AlertContent.test.tsx.snap
  packages/core/src/popups/components/ModalBase/stylesCreate.ts
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalAsk.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalError.test.tsx.snap
  packages/core/src/popups/components/Modals/__tests__/__snapshots__/ModalSuccess.test.tsx.snap
  packages/core/src/popups/components/SnackbarBase/stylesCreate.ts
  packages/core/src/popups/components/TooltipBase/DescriptionText.tsx
  packages/core/src/popups/components/TooltipBase/__tests__/__snapshots__/DescriptionText.test.tsx.snap
  packages/core/src/popups/components/TooltipBase/stylesCreate.ts
  packages/core/src/styles/constants/colors/color.ts
  packages/core/src/styles/constants/colors/types.ts
  src/pages/MainStack/Home/Core/DragAndDrop/ui/index.tsx
  src/shared/lib/hooks/useNavigationTheme.ts
  src/widgets/Core/Progress/ui/SpinnerWidget.tsx
Due: eslint, jest, typescript

chore: replaced color
  packages/core/src/inputs/components/DropDown/components/Selector.tsx
  src/widgets/Core/Popup/ui/TooltipWidget.tsx
Due: eslint, jest, typescript

fix: updated version
  package.json
  packages/KeyboardAware/package.json
  packages/calendar/package.json
  packages/chart/package.json
  packages/core/package.json
  packages/dragAndDrop/package.json
  packages/markdown/package.json
  packages/utils/package.json
Due: none

fix: updated version
  packages/dragAndDrop/package.json
Due: none

fix: removed react-native-version
  scripts/semantic-release.ts
Due: eslint, jest, typescript

fix: removed react-native-version
  scripts/release.ts
Due: eslint, jest, typescript

fix: update version in peerDependencies
  packages/calendar/package.json
  packages/chart/package.json
  packages/dragAndDrop/package.json
  packages/markdown/package.json
Due: none

fix: update version
  package.json
  packages/KeyboardAware/package.json
  packages/calendar/package.json
  packages/chart/package.json
  packages/core/package.json
  packages/dragAndDrop/package.json
  packages/markdown/package.json
  packages/utils/package.json
Due: none

chore: update yarn
  yarn.lock
Due: none

fix: update deprecated colors
  packages/core/src/other/components/Avatar/Avatar.tsx
  packages/core/src/other/components/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/widgets/Chart/ui/RenderSectionItem.tsx
Due: eslint, jest, typescript

fix: added string
  src/widgets/KeyboardAware/Bottom.tsx
Due: eslint, jest, typescript

Notes added by 'git notes add'
  270c989e8a7d668603735ae0433ed1c2514a3bc6
Due: none

Notes added by 'git notes add'
  593d7148c0704700c0fa725b0225a46a05454de0
Due: none

chore(release): 7.35.0-next.9 - 21 янв. 2025 г., 08:45 [skip ci]
  CHANGELOG.md
  package.json
  packages/KeyboardAware/package.json
  packages/calendar/package.json
  packages/chart/package.json
  packages/core/package.json
  packages/dragAndDrop/package.json
  packages/markdown/package.json
  packages/utils/package.json
Due: none

Notes added by 'git notes add'
  f1a430a4a673a2d966e335191ad939c10cbf13fd
Due: none

fix(Calendar): fix color
  packages/calendar/src/Calendar/Calendar.tsx
  packages/calendar/src/Calendar/__tests__/__snapshots__/Calendar.test.tsx.snap
  packages/core/src/portals/components/PortalHost.tsx
  src/widgets/Calendar/ui/CalendarWidget.tsx
Due: eslint, jest, typescript

chore(release): 7.35.0-next.10 - 21 янв. 2025 г., 11:10 [skip ci]
  CHANGELOG.md
  package.json
  packages/KeyboardAware/package.json
  packages/calendar/package.json
  packages/chart/package.json
  packages/core/package.json
  packages/dragAndDrop/package.json
  packages/markdown/package.json
  packages/utils/package.json
Due: none

Notes added by 'git notes add'
  58b7fb56b2f04902dd288aed7a73ec0876421aa3
Due: none
